[Desktop Entry]
Comment=
Exec=qdbus org.kde.plasmashell /PlasmaShell evaluateScript "lockCorona(false)"\n
Name=Unlock Widgets
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
